.footer
  padding spacingBase 0
  margin-top spacingBase
  text-align center
  border-top borderBase
  @extend .clearfix
  small
    font-size 10px
    font-weight 100
    line-height 2.75
    color lightNavyColor
    text-transform uppercase
