// Blocks
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

// List
ul {
  list-style: none;
}

// Form
button,
input,
select,
textarea {
  margin: 0;
}

// Box sizing
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: $fontSizeBase;
  /* stylelint-disable */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* stylelint-enable */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: $fontFamilyBase;
  font-size: 1rem;
  font-weight: $fontWeightBase;
  letter-spacing: -0.05px;
  line-height: $lineHeightBase;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontFamilyHeading;
  font-size: 100%;
  font-weight: 800;
  margin: 0 0 30px;
}

a {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }
}

// Media
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

// Iframe
iframe {
  border: 0;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

code,
pre {
  font-family: $fontFamilySerif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

small {
  font-size: 80%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

textarea {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 0;
  border-bottom: $borderBase;
  margin: 30px 0;
}
