html,
body,
.hero
  width 100%
  height 100%

.hero
  display flex
  align-items center
  justify-content center
  text-align center
  &__title
    font-weight 900
    font-size 4.625rem /* 74/16 */
  &__lead.lead
    font-size 1.625rem /* 26/16 */
  small,
  &__lead
    opacity 0.75
  &__title,
  &__button
    span,
    svg
      display inline-block
      vertical-align middle
      padding 0
      margin 0
    span
      margin-left .625rem /* 10/16 */
