// Color palette
blackColor = #000
whiteColor = #fff
paleGreyColor = #f3f4f5
brownishGreyColor = #5b5b5b
whiteColor = #ffffff
warmGreyColor = #9b9b9b
deepSkyBlueColor = #0b7ff5
silverColor = #d8d8d8
textColor = (blackColor + 15%)
linkColor = deepSkyBlueColor
linkColorHover = linkColor + 10%
backgroundBase = paleGreyColor
borderColor = rgba(blackColor, .1)

// Fonts weight
fontWeightLight = 300
fontWeightMedium = 400
fontWeightRegular = 500
fontWeightBold = 800

// Font family and font size
fontFamilyBase = 'Open Sans', Helvetica, Arial, sans-serif
fontFamilyHeading = 'Poppins', fontFamilyBase
fontFamilySerif = 'Spectral', 'Georgia', 'Times New Roman', 'Times', serif
fontSizeBase = 16px
lineHeightBase = 1.6

// Borders
borderBase = .0625rem /* 1/16 */ solid borderColor
borderRadiusBase = .25rem /* 4/16 */
borderRadiusSmall = .125rem /* 2/16 */
borderRadiusLarge = .375rem /* 6/16 */

// Paddings and margins
gutter = 1.875rem /* 30/16 */
spacingSmall = (gutter/2)
spacingBase = gutter
spacingLarge = (gutter*2)

// Media queries
desktop-xl = 1200px
desktop-lg = 992px
tablet-md = 768px
phone-sm = 576px
phone-xs = 0
