@import 'normalize.css/normalize.css'

@import 'variables'
@import 'functions'
@import 'mixins'
@import 'placeholders'

// base styles
@import 'base'

// All components
@import 'components'

// All layouts pages and sections
@import 'layouts'
