// Color palette
blackColor = #000
whiteColor = #fff
paleGreyColor = #f3f4f5
brownishGreyColor = #5b5b5b
whiteColor = #ffffff
warmGreyColor = #9b9b9b
deepSkyBlueColor = #0b7ff5
silverColor = #d8d8d8
textColor = (blackColor + 15%)
linkColor = deepSkyBlueColor
linkColorHover = linkColor + 10%
backgroundBase = paleGreyColor
borderColor = rgba(blackColor, .1)

// Fonts weight
fontWeightLight = 300
fontWeightMedium = 400
fontWeightRegular = 500
fontWeightBold = 700

// Font family and font size
fontFamilyBase = 'Open Sans', Helvetica, Arial, sans-serif
fontFamilySerif = 'Spectral', 'Georgia', 'Times New Roman', 'Times', serif
fontSizeBase = 16px
lineHeightBase = 1.6

// Borders
borderBase = .05rem solid borderColor
borderRadiusBase = 4px
borderRadiusSmall = 2px
borderRadiusLarge = 6px

// Paddings and margins
gutter = 30px
spacingSmall = (gutter/2)
spacingBase = gutter
spacingLarge = (gutter*2)

// Media queries
desktop-xl = 1200px
desktop-lg = 992px
tablet-md = 768px
phone-sm = 576px
phone-xs = 0
