ul
  li
    | Veniam illum est adipisci
  li
    | voluptatem dolorum a.
    ul
      li
        | Voluptatem
      li
        | esse esse
      li
        | voluptatem
      li
        | nihil et
  li
    | Laboriosam
  li
    | ratione animi
  li
    | enim consequatur

ol
  li
    | Enim saepe soluta at consequatur
  li
    | quis asperiores qui
  li
    | Rem ad
    ol
      li
        | omnis
      li
        | expedita
      li
        | voluptas
      li
        | quam vitae
  li
    | A ut at aut
  li
    | quod sit
  li
    | facere tempora
  li
    | error et
