block scripts
  script(src='./assets/javascripts/vendor' + fileHash + '.js')
  script(src='./assets/javascripts/bundle' + fileHash + '.js')

script(type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c1eaed71a17af3a')
