a.navbar__social(href='#')
  i.fa.fa-facebook
a.navbar__social(href='#')
  i.fa.fa-twitter
a.navbar__social(href='#')
  i.fa.fa-linkedin
a.navbar__social(href='#')
  i.fa.fa-google
a.navbar__social(href='#')
  i.fa.fa-instagram
