extends layouts/default.pug
block content
  .container
    p.lead
      span=description
      a.button.button--default(href='./index.html')
        | â† Go to home
      a.button.button--primary(href='https://github.com/onedevstudio/starter-kit', target='_blank')
        | Download

    include demo/headings.pug
    h3='Paragraphs'
    include demo/paragraphs.pug
    h3='Lists'
    include demo/lists.pug
