extends layouts/default.pug
block content
  .container
    p.lead
      span=description
      a.button.button--default(href='./demo-markup.html')
        | Demo markup →
      a.button.button--primary(href='https://github.com/onedevstudio/starter-kit', target='_blank')
        | Download
