extends layouts/blank.pug
block content
  main.hero
    .hero__inner
      h1=title
      p.lead
        span=description
        a.button.button--primary(href=repository.url target='_blank')
          | Download
