html
  box-sizing border-box

*, *:before, &:after
  box-sizing inherit

.container
  center(100%)
  padding-right (gutter / 2)
  padding-left (gutter / 2)
  @extend .clearfix
  +above(mtablet-md)
    max-width tablet-md
  +above(desktop-lg)
    max-width desktop-lg
  +above(desktop-xl)
    max-width desktop-xl

.row
  margin-left -(gutter / 2)
  margin-right -(gutter / 2)
  @extend .clearfix

.grid-flex
  display flex
  @extend .row
  &--flow
    flex-flow row
  &--wrap
    flex-wrap wrap
  &--space-around
    justify-content space-around
  &--center
    justify-content center
    align-items center
  &--reverse
    flex-wrap wrap-reverse
  &__column
    flex 1
    width 100%
    display inline-block
    padding-left (gutter / 2)
    padding-right (gutter / 2)
  &--fit > .grid-flex__column
    flex 1
  &--full > .grid-flex__column
    flex 0 0 100%
  &--1of2 > .grid-flex__column
    flex 0 0 50%
  &--1of3 > .grid-flex__column
    flex 0 0 33.3333%
  &--1of4 > .grid-flex__column
    flex 0 0 25%
