.clearfix
  clearfix()

.show
  display block
  opacity 1
  visibility visible

.hide
  display none
  opacity 0
  visibility hidden

.pull
  &-left
    float left
  &-right
    float right

.video-wrapper
  position relative
  padding-bottom 56.25%
  padding-top 1.5625rem /* 25/16 */
  height 0
  object,
  embed,
  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%

p
  &.lead
    padding-bottom spacingLarge
    font-size: 1.25rem /* 20/16 */
    font-weight 300
    span
      margin-bottom spacingSmall
      display block
