@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,500,800|Poppins:500,700,900')

html
  font-size fontSizeBase

body
  color textColor
  font-family fontFamilyBase
  font-weight fontWeightRegular
  font-size 1rem
  line-height lineHeightBase

h1, h2, h3, h4, h5, h6, ul, p
  margin 0 0 spacingSmall

h1, h2, h3, h4, h5, h6
  font-family fontFamilyHeading

h1
  font-size 3rem /* 48/16 */

h2
  font-size 2.375rem /* 38/16 */

h3
  font-size 2.25rem /* 36/16 */

h4
  font-size 2rem /* 32/16 */

h5
  font-size 1.5rem /* 24/16 */

h6
  font-size 1.25rem /* 20/16 */

a
  color linkColor
  text-decoration underline
  &:hover,
  &:focus
    color linkColorHover
    text-decoration none

strong
  font-weight fontWeightBold
