@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,500,700,800,900")

html
  font-size fontSizeBase

body
  color textColor
  font-family fontFamilyBase
  font-weight fontWeightRegular
  font-size fontSizeBase
  line-height lineHeightBase

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p
  margin 0 0 spacingSmall

p
  &.lead
    padding-bottom spacingLarge
    font-size: fontSizeBase * 1.2
    font-weight 300
    span
      margin-bottom spacingSmall
      display block

h1
  font-size fontSizeBase * 3
h2
  font-size fontSizeBase * 2.6
h3
  font-size fontSizeBase * 2.4
h4
  font-size fontSizeBase * 2
h5
  font-size fontSizeBase * 1.6
h6
  font-size fontSizeBase * 1.4

a
  color linkColor
  text-decoration underline
  &:hover,
  &:focus
    color linkColorHover
    text-decoration none
