@import '../../styles/vars';

.hero {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;

  &__inner {
    max-width: 1000px;
    padding: 15px;
  }

  &__icon {
    display: block;
    margin: 0;

    img {
      width: 100px;
    }
  }

  &__title {
    font-size: 72px;
    margin-bottom: 15px;
  }

  &__description {
    color: rgba($textColor, .6);
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  &__buttons {
    a {
      margin: 0 10px;
    }
  }

  &__footer {
    bottom: 1.875rem /* 30/16 */;
    left: 50%;
    opacity: 0.75;
    position: fixed;
    transform: translate3d(-50%, 0, 0);

    small {
      color: rgba($textColor, .6);
    }

    a {
      border-bottom: 1px solid $linkColor;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
