@import '../../styles/vars';
@import '../../styles/mixins';

.hero {
  padding: 3.75rem /* 60/16 */ 0 1.25rem /* 20/16 */;
  text-align: center;

  @include media(min-width $breakpoint-md) {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 0;
  }

  &__inner {
    max-width: 62.5rem /* 1000/16 */;
    padding: 0.9375rem /* 15/16 */;
  }

  &__icon {
    display: block;
    margin: 0;

    img {
      width: 6.25rem /* 100/16 */;
    }
  }

  &__title {
    font-size: 2.625rem /* 42/16 */;
    margin-bottom: 0.9375rem /* 15/16 */;

    @include media(min-width $breakpoint-sm) {
      font-size: 3.875rem /* 62/16 */;
    }

    @include media(min-width $breakpoint-md) {
      font-size: 4.5rem /* 72/16 */;
    }
  }

  &__description {
    color: rgba($textColor, .6);
    font-size: 1.125rem /* 18/16 */;
    font-weight: 300;
    margin-bottom: 1.875rem /* 30/16 */;

    @include media(min-width $breakpoint-md) {
      font-size: 1.375rem /* 22/16 */;
    }
  }

  &__buttons {
    a {
      display: inline-block;
      margin-bottom: 0.3125rem /* 5/16 */;
      width: 100%;

      @include media(min-width $breakpoint-sm) {
        margin-bottom: 0;
        width: auto;
      }
    }
  }

  &__footer {
    margin-top: 3.75rem /* 60/16 */;
    text-align: center;
    width: 100%;

    @include media(min-width $breakpoint-md) {
      bottom: 1.875rem /* 30/16 */;
      left: 50%;
      margin-top: 0;
      opacity: 0.75;
      position: fixed;
      transform: translate3d(-50%, 0, 0);
    }

    small {
      color: rgba($textColor, .6);
    }

    a {
      border-bottom: 1px solid $linkColor;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
